.icon {
  width: 16px;
  height: 16px;

  display: block;
  background-repeat: no-repeat;
  background-size: contain;

  &--menu {
    background-image: url(../img/icons/Menu.svg);
  }

  &--shopping-bag {
    background-image: url(../img/icons/Shopping-bag-Cart.svg);
  }

  &--favourites {
    background-image: url(../img/icons/Favourites-Heart-Like.svg);
  }

  &--favourites-filled {
    background-image: url(../img/icons/Favourites-Filled-Heart-Like.svg);
  }

  &--close {
    background-image: url(../img/icons/Close.svg);
  }

  &--search {
    background-image: url(../img/icons/Search.svg);
  }

  &--arrow-up {
    background-image: url(../img/icons/Chevron-Arrow-Up.svg);
  }
}
