.icon {
  width: 16px;
  height: 16px;

  display: block;
  background-repeat: no-repeat;
  background-size: contain;

  &--logo {
    width: 40px;
    height: 24px;

    background-image: url(../images/logo.svg);
  }

  &--menu {
    background-image: url(../images/icons/Menu.svg);
  }

  &--shopping-bag {
    background-image: url(../images/icons/Shopping-bag-Cart.svg);
  }

  &--favourites {
    background-image: url(../images/icons/Favourites-Heart-Like.svg);
  }

  &--close {
    background-image: url(../images/icons/Close.svg);
  }

  &--search {
    background-image: url(../images/icons/Search.svg);
  }

  &--arrow-up {
    background-image: url(../images/icons/Chevron-Arrow-Up.svg);
  }
}
