@import '../../styles/main';

.footer {
  width: 100%;
  padding: 32px 16px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  position: absolute;
  bottom: 0;
  z-index: -1;

  background-color: $white;
  box-shadow: 0 -1px 0 0 $elements;

  @include on-tablet {
    padding-inline: 152px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include on-tablet {
        width: 31.5vw;
        flex-direction: row;
        justify-content: space-between
      }
    }

    &-item-link {
      @include upper-case-font;

      color: $secondary;
      text-decoration: none;
    }
  }

  &__block-back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

    &-title {
      color: $secondary;
      font-family: Mont, sans-serif;
      font-size: 12px;
      font-weight: 700;
    }

    &-title-label {
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
    }

    &-button {
      width: 32px;
      height: 32px;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid $elements;
      background-color: $white;

      cursor: pointer;
    }
  }
}
