* {
  box-sizing: border-box;
}

html {
  cursor: url("./images/cursor-mouse-mice.svg"), auto;
}

body {
  font-family: Mont, sans-serif;
  font-size: 14px;
  line-height: 21px;

  position: relative;
  min-height: 400vh;
}

small {
  font-family: Mont, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
